<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/> 
	<title> Liste des traitements </title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
	 <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">	 
</head>
<body>
<div align="center">
    <h1>Liste des Traitements</h1>
    
   	    <br/><br/>
     <table border="1" class = "table table-striped table-responsive-md">
        <thead>
            <tr>
                <th>ID Traitement</th><th>Nom</th></tr>
        </thead>
        <tbody>
            <tr th:each="t : ${listtraitement}">
                <td th:text="${t.id}">ID Traitement</td>
                <td th:text="${t.nom}">Nom</td>
                
           </tr>
        </tbody>
        
    </table>
</div>   
</body>

</html>